<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    404
    <small>Page Not Found</small>
</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ "~/" | href }}">Home</a>
    </li>
    <li class="breadcrumb-item active">404</li>
</ol>

<div class="jumbotron">
    <h1 class="display-1">404</h1>
    <p>The page you're looking for could not be found. Here are some helpful links to get you back on track:</p>
    {% assign mainMenu = Content.Alias["main-menu"] %}
    <ul>
        <li>
            <a href="{{ "~/" | href }}">Home</a>
        </li>
        {% for item in mainMenu.Content.MenuItemsListPart.MenuItems %}
            {% assign itemShape = item | shape_build_display: "Detail" %}
            {% shape_clear_alternates itemShape %}
            {% shape_type itemShape "SiteMapItem" %}
            {{ itemShape | shape_render }}
        {% endfor %}
    </ul>
</div>
<!-- /.jumbotron -->
