<div class="row">
    <div class="col-md-8">
        {{ Model.Content.TermPart | shape_render }}
    </div>
    <div class="col-md-4">
        {% render_section "ContentAside", required: false %}
    </div>
</div>